.add-selection {
    width: 500px;
    height: 400px;

    &__title {
        padding-top: 12px;
        padding-bottom: 60px;
        font-size: 48px;
        font-weight: bold;
        text-align: center;
        transition: all 0.2s;
    }

    &__btns {
        position: absolute;
        padding-top: 32px;
        width: 500px;
        height: 300px;
    }

    &__btn-wrap {
        height: 100px;

    }
}