$add-selection-width: 500px;
$add-selection-height: 400px;

$add-selection-title-padding: 12px 0 60px 0;
$add-selection-btns-padding: 32px 0 0 0;
$add-selection-btns-height: 300px;
$add-selection-btn-wrap-height: 100px;

.add-selection {
    width: $add-selection-width;
    height: $add-selection-height;

    &__title {
        padding: $add-selection-title-padding;
        font-size: $font-size--h2-big;
        font-weight: bold;
        text-align: center;
        transition: $transition-all;
    }

    &__btns {
        position: absolute;
        padding: $add-selection-btns-padding;
        width: $add-selection-width;
        height: $add-selection-btns-height;
    }

    &__btn-wrap {
        height: $add-selection-btn-wrap-height;
    }
}
