// Big button
.btn {
    display: flex;
    position: absolute;
    background-color: white;
    border-radius: 50px;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s;
    border: none;

    &:hover {
        background-color: $app-color2;
    }

    &:focus {
        outline: none;
    }

    &__text {
        position: absolute;
        text-align: center;
        top: 50%;
        color: $app-black;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        transition: all 0.2s;

        &--big {
            font-size: 32px;
        }

        &--small {
            font-size: 18px;
            font-weight: bold;
        }
    }

    &--big {
        width: 300px;
        height: 80px;
        left: 50%;
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);

        &:hover {
            .btn__text {
                color: $app-black;
            }
        }
    }

    &--small {
        width: 100px;
        height: 30px;
    }

    &--alt {
        background-color: $app-black;
        .btn__text {
            color: #ffffff;
        }
        &:hover {
            .btn__text {
                color: $app-black;
            }
        }
    }

    &--negative {
        background-color: $app-black;
        .btn__text {
            color: #ffffff;
        }
        &:hover {
            background-color: $app-color1;
        }
    }
}
