$btn-big-width: 300px;
$btn-big-height: 80px;
$btn-small-width: 100px;
$btn-small-height: 30px;

$btn-small-font-size: 1.1rem;

.btn {
    display: flex;
    position: absolute;
    background-color: $app-white;
    border-radius: $border-radius--big;
    justify-content: center;
    cursor: pointer;
    transition: $transition-all;
    border: none;

    &:hover {
        background-color: $app-color2;
    }

    &:focus {
        outline: none;
    }

    &__text {
        position: absolute;
        text-align: center;
        top: 50%;
        color: $app-black;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        transition: $transition-all;

        &--big {
            font-size: $font-size--h2;
        }

        &--small {
            font-size: $btn-small-font-size;
            font-weight: bold;
        }
    }

    &--big {
        width: $btn-big-width;
        height: $btn-big-height;
        left: 50%;
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);

        &:hover {
            .btn__text {
                color: $app-black;
            }
        }
    }

    &--small {
        width: $btn-small-width;
        height: $btn-small-height;
    }

    &--alt {
        background-color: $app-black;
        .btn__text {
            color: $app-white;
        }
        &:hover {
            .btn__text {
                color: $app-black;
            }
        }
    }

    &--negative {
        background-color: $app-black;
        .btn__text {
            color: $app-white;
        }
        &:hover {
            background-color: $app-color1;
        }
    }
}
