.confirmation-box__btn-container {
    height: 30px;
    width: 300px;
    padding-top: 46px;
    display: flex;
    justify-content: space-between;
}

.confirmation-box__btn {
    height: 30px;
    width: 100px;
}
