.confirmation-box{
    &__btn-container {
        height: 30px;
        width: 300px;
        padding-top: 46px;
        display: flex;
        justify-content: space-between;
    }

    &__btn {
        height: 30px;
        width: 100px;
    }
}