$family-width: 100%;
$family-height: 30px;
$family-body-width: auto;
$family-body-height: 20px;
$family-body-padding: 5px;
$family-body-head-padding: 10px 0 10px 0;

$family-name-width: 500px;
$family-name-padding: 0 0 0 36px;
$family-members-width: 100px;
$family-members-padding: 0 0 0 12px;

.family {
    display: flex;
    width: $family-width;
    height: $family-height;
    background-color: $app-white;
    border-bottom: $table-border;
    color: $app-black;
    transition: $transition-all ease-in-out;

    &__body {
        display: flex;
        width: $family-body-width;
        height: $family-body-height;
        padding: $family-body-padding;
        transition: $transition-all ease-in-out;

        &--header {
            padding: $family-body-head-padding;
            font-size: $font-size--body;
            font-weight: bold;
        }
    }

    &__name {
        width: $family-name-width;
        padding: $family-name-padding;
    }

    &__members {
        width: $family-members-width;
        padding-left: $family-members-padding;
    }

    &--item {
        &:hover {
            background-color: $app-table-hover;
            cursor: pointer;
        }
    }

    &--header {
        height: 40px;
        border-top: $table-border;
    }
}
