$addition-page-width: 100%;
$addition-page-height: 90vh;
$addition-page-content-height: 800px;
$addition-page-content-width: 80%;

$family-form-width: 400px;
$family-form-height: 200px;
$family-form-distance-top: 36%;

$family-form-input-height: 60px;
$family-form-input-margin: 10px 0 30px 0;
$family-form-input-text-transition: all 0.4s ease-in-out;
$family-form-input-text-width: 80%;
$family-form-input-text-width--focus: 100%;
$family-form-input-text-height: 90%;
$family-form-input-text-border: 3px solid $app-black;
$family-form-submit-margin: 100px;

.addition-page {
    width: $addition-page-width;
    height: $addition-page-height;
    display: flex;
    justify-content: center;

    &__content {
        position: relative;
        width: $addition-page-content-width;
        background-color: $app-white;
        height: $addition-page-content-height;
        box-shadow: $box-shadow;
    }

    h2 {
        position: absolute;
        width: 100%;
        font-size: $font-size--h2-big;
        text-align: center;
    }
}

.family-form {
    position: absolute;
    top: $family-form-distance-top;
    left: $distance-middle;
    transform: translate(-50%, -50%);
    width: $family-form-width;
    height: $family-form-height;

    &__input {
        display: flex;
        height: $family-form-input-height;
        margin: $family-form-input-margin;
        justify-content: center;

        input[type='text'] {
            width: $family-form-input-text-width;
            height: $family-form-input-text-height;
            border: $family-form-input-text-border;
            transition: $family-form-input-text-transition;
            font-size: $font-size--body;

            &:focus {
                outline: none;
                width: $family-form-input-text-width--focus;
            }
        }
    }

    &__submit {
        margin-top: $family-form-submit-margin;
    }
}
