$family-name-width: 500px;
$family-name-padding: 0 0 0 36px;
$family-members-width: 100px;
$family-members-padding: 0 0 0 12px;

.family {
    display: flex;
    width: 100%;
    height: 30px;
    background-color: $app-white;
    border-bottom: $table-border;
    font-weight: bold;
    color: $app-black;
    transition: $transition-all ease-in-out;

    &__body {
        display: flex;
        width: auto;
        height: 20px;
        padding: 5px;
        transition: $transition-all ease-in-out;

        &--header {
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 20px;
        }
    }

    &__name {
        width: $family-name-width;
        padding: $family-name-padding;
    }

    &__members {
        width: $family-members-width;
        padding-left: $family-members-padding;
    }

    &--item {
        &:hover {
            background-color: $app-table-hover;
            cursor: pointer;
        }
    }

    &--header {
        height: 40px;
        border-top: $table-border;
    }
}
