.addition-page {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;

    &__content {
        position: relative;
        width: 80%;
        background-color: #ffffff;
        height: 800px;
        box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);
    }
}

.family-form {
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 200px;

    &__input {
        display: flex;
        width: 100%;
        height: 60px;
        margin-top: 10px;
        margin-bottom: 30px;
        justify-content: center;

        input[type='text'] {
            width: 80%;
            height: 90%;
            border-radius: 6px;
            border: 3px solid $app-black;
            transition: all 0.4s;
            padding-left: 12px;
            padding-right: 12px;
            font-size: 20px;

            &:hover {
                width: 100%;
            }

            &:focus {
                outline: none;
                width: 100%;
            }
        }
    }

    &__submit {
        margin-top: 100px;
    }
}
