.header-wrap {
    width: 100%;
    height: 60px;
    background-color: $app-black;
    display: flex;
    a:link {
        text-decoration: none;
    }
}

.header-content {
    display: flex;
    width: 100%;
}

/* Logo */
.header-logo-wrap {
    width: 156px;
    height: 100%;
}

.header-logo {
    color: white;
    width: 156px;
    height: 100%;
    font-size: 50px;
    text-align: center;
    cursor: pointer;
}

/* Item */
.header-item-wrap {
    display: flex;
    justify-content: center;
    position: relative;
    width: 80px;
    height: 100%;
    cursor: pointer;
    transition: all 0.2s;
    a {
        color: white;
        position: absolute;
        font-size: 24px;
        text-align: center;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        transition: all 0.2s;
    }
}

.header-item-wrap:hover {
    background-color: #ffffff;
    a {
        color: $app-black;
    }
}

/* Decoration */

.header-deco-wrap {
    width: 120px;
    height: 60px;
    display: flex;
}

.header-deco-s {
    width: 60px;
    background-color: $app-color1;
}

.header-deco-f {
    width: 60px;
    background-color: $app-color2;
}
