$header-height: 60px;
$header-title-width: 156px;
$header-deco-width: calc(2 * $header-height);

$header-deco-square-a-bg: $app-color1;
$header-deco-square-b-bg: $app-color2;

.header {
    display: flex;
    width: 100%;
    height: $header-height;
    background-color: $app-black;

    &__content {
        display: flex;
        width: 100%;
    }
}

/* Logo */
.header-logo {
    width: $header-title-width;
    height: 100%;

    &__title {
        color: $app-white;
        width: 156px;
        margin-top: 0;
        font-size: $font-size--h2-big;
        font-weight: normal;
        text-align: center;
        transition: $transition-all;
        cursor: pointer;

        &:hover {
            animation: start-anim 1s 0s ease-in, anim 2s 1s alternate infinite ease-in-out;
        }
    }
}

/* Decoration */

.header-deco {
    display: flex;
    width: $header-deco-width;
    height: $header-height;

    &__square {
        width: $header-height;

        &--a {
            background-color: $header-deco-square-a-bg;
        }

        &--b {
            background-color: $header-deco-square-b-bg;
        }
    }
}

// Animation
@keyframes start-anim {
    from {
        color: $app-white;
    }
    to {
        color: $app-color1;
    }
}

@keyframes anim {
    from {
        color: $app-color1;
    }
    to {
        color: $app-color2;
    }
}
