.header {
    width: 100%;
    height: 60px;
    background-color: $app-black;
    display: flex;

    &__content {
        display: flex;
        width: 100%;
    }
}

/* Logo */
.header-logo {
    width: 156px;
    height: 100%;

    &__img {
        color: white;
        width: 156px;
        height: 100%;
        font-size: 50px;
        text-align: center;
        transition: all 0.2s;
        cursor: pointer;
        
        &:hover {
            animation: start-anim 1s 0s ease-in, anim 2s 1s alternate infinite ease-in-out;
        }
    }
}

/* Decoration */

.header-deco {
    width: 120px;
    height: 60px;
    display: flex;

    &__square {
        width: 60px;

        &--a {
            background-color: $app-color1;
        }
    
        &--b {
            background-color: $app-color2;
        }
    }


}

// Animation
@keyframes start-anim {
    from {
        color: #ffffff;
    }
    to {
        color: $app-color1;
    }
}

@keyframes anim {
    from {
        color: $app-color1;
    }
    to {
        color: $app-color2;
    }
}
