@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$greeting-img-max-width: 3840px;
$greeting-img-height: 600px;
$greeting-img-url: url(https://i.pinimg.com/originals/85/36/d4/8536d4935c6fc6fb4fa03d7c715c5e05.jpg);

$greeting-container-bg: rgba(0, 0, 0, 0.75);
$greeting-container-distance-left: 10%;
$greeting-container-width: 400px;
$greeting-text-area-height: 450px;

$lower-panel-height: 600px;
$panel-a-width: 33%;
$panel-b-width: 34%;

.home-greeting {
    position: relative;
    max-width: $greeting-img-max-width;
    height: $greeting-img-height;

    &__img {
        position: absolute;
        width: 100%;
        height: $greeting-img-height;
        background-image: $greeting-img-url;
        background-size: cover;
        background-position: 0 50%;
    }

    &__container {
        position: absolute;
        left: $greeting-container-distance-left;
        width: $greeting-container-width;
        height: 100%;
        background-color: $greeting-container-bg;
    }

    &__text-area {
        height: $greeting-text-area-height;
    }

    &__text {
        padding: 12px;
        font-size: $font-size--body;

        &--header {
            color: $app-white;
            font-size: $font-size--h2;
            text-align: center;
            padding-top: 2rem;
            padding-bottom: 1rem;
        }

        &--body {
            position: absolute;
            width: 90%;
            color: $app-white;
            text-align: justify;
            text-justify: inter-word;
            left: 50%;
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
        }
    }
}

// Lower panel
.lower-panels {
    display: flex;
}

.lower-panel {
    height: $lower-panel-height;

    &__text-area {
        position: relative;
        height: 450px;
    }

    &__header {
        font-size: $font-size--h2-big;
        text-align: center;
    }

    &__body {
        position: absolute;
        width: 90%;
        font-size: $font-size--body;
        padding: 12px;
        text-align: justify;
        text-justify: inter-word;
        left: 50%;
        transform: translateX(-50%);
    }

    &--a {
        position: relative;
        width: $panel-a-width;
        background-color: $app-black;
        .lower-panel__text-area {
            color: $app-white;
        }
    }

    &--b {
        position: relative;
        width: $panel-b-width;
        background-color: $app-white;
        .lower-panel__text-area {
            color: $app-black;
        }
    }
}
