@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

.home-greeting-wrap {
    position: relative;
    width: 100%;
    max-width: 1920px;
    height: 600px;
}

// Greeting image
.home-greeting-img {
    position: absolute;
    width: 100%;
    height: 600px;
    /* Picture taken from https://www.pinterest.ie/pin/341992165438078832/ */
    background-image: url(https://i.pinimg.com/originals/85/36/d4/8536d4935c6fc6fb4fa03d7c715c5e05.jpg);
    background-size: cover;
    background-position: 0 50%;
}

// Greeting text
.home-greeting-text-container {
    position: absolute;
    left: 10%;
    width: 400px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

.home-greeting-text-container-t-wrap {
    width: 100%;
    height: 450px;
}

.home-greeting-text-container-t-head {
    color: white;
    font-size: 36px;
    text-align: center;
    padding: 12px;
    padding-top: 24px;
    padding-bottom: 32px;
}

.home-greeting-text-container-t-body {
    position: absolute;
    width: 90%;
    color: white;
    font-size: 22px;
    padding: 12px;
    text-align: justify;
    text-justify: inter-word;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

// Lower panel
.home-lower-wrap {
    display: flex;
    width: 100%;
    height: 600px;
}

.home-lower-panel-a {
    position: relative;
    width: 33%;
    height: 600px;
    background-color: $app-black;
    .home-lower-panel-t-wrap {
        color: white;
    }
}

.home-lower-panel-b {
    width: 34%;
    height: 600px;
    background-color: white;
    .home-lower-panel-t-wrap {
        color: $app-black;
    }
}

.home-lower-panel-t-wrap {
    position: relative;
    width: 100%;
    height: 450px;
}

.home-lower-panel-t-head {
    font-size: 48px;
    text-align: center;
    padding: 12px;
    padding-top: 24px;
    padding-bottom: 32px;
}

.home-lower-panel-t-body {
    position: absolute;
    width: 90%;
    font-size: 22px;
    padding: 12px;
    text-align: justify;
    text-justify: inter-word;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
