@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.1);

    a:link {
        text-decoration: none;
    }
}

.home-greeting {
    position: relative;
    width: 100%;
    max-width: 3840px;
    height: 600px;

    &__img {
        position: absolute;
        width: 100%;
        height: 600px;
        /* Picture taken from https://www.pinterest.ie/pin/341992165438078832/ */
        background-image: url(https://i.pinimg.com/originals/85/36/d4/8536d4935c6fc6fb4fa03d7c715c5e05.jpg);
        background-size: cover;
        background-position: 0 50%;
    }

    &__container {
        position: absolute;
        left: 10%;
        width: 400px;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.75);
    }

    &__text-area {
        width: 100%;
        height: 450px;
    }

    &__text {
        padding: 12px;
        font-size: $font-size--body;

        &--header {
            color: $app-white;
            font-size: 2rem;
            text-align: center;
            padding-top: 2rem;
            padding-bottom: 1rem;
        }

        &--body {
            position: absolute;
            width: 90%;
            color: $app-white;
            text-align: justify;
            text-justify: inter-word;
            left: 50%;
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
        }
    }
}

// Lower panel
.lower-panels {
    display: flex;
    width: 100%;
    height: 600px;
}

.lower-panel {
    &__text-area {
        position: relative;
        width: 100%;
        height: 450px;
    }

    &__header {
        font-size: 48px;
        text-align: center;
        padding: 12px;
        padding-top: 24px;
        padding-bottom: 32px;
    }

    &__body {
        position: absolute;
        width: 90%;
        font-size: $font-size--body;
        padding: 12px;
        text-align: justify;
        text-justify: inter-word;
        left: 50%;
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    &--a {
        position: relative;
        width: 33%;
        height: 600px;
        background-color: $app-black;
        .lower-panel__text-area {
            color: white;
        }
    }

    &--b {
        position: relative;
        width: 34%;
        height: 600px;
        background-color: $app-white;
        .lower-panel__text-area {
            color: $app-black;
        }
    }
}
