.notfound-page {
    width: 600px;
    height: 600px;
    padding: 32px;

    &__title {
        font-size: 48px;
        padding-bottom: 24px;
    }

    &__text {
        padding-top: 12px;
        font-size: 20px;
    }

    &__btn {
        position: relative;
        padding-top: 48px;
        width: 300px;
    }
}
