$notfound-page-sides: 600px;
$notfound-page-padding: 2rem;

$notfound-title-padding: 0 0 1.5rem 0;
$notfound-title-margin: 0 0 0.75rem 0;

$notfound-text-padding: 12px 0 0 0;
$notfound-text-margin: 0;

$notfound-return-btn-width: 300px;

.notfound-page {
    width: $notfound-page-sides;
    height: $notfound-page-sides;
    padding: $notfound-page-padding;

    &__title {
        font-size: $font-size--h2-big;
        padding: $notfound-title-padding;
        margin: $notfound-title-padding;
    }

    &__text {
        padding: $notfound-text-padding;
        font-size: $font-size--body;
        margin: $notfound-text-margin;
    }

    &__btn {
        position: relative;
        padding-top: $font-size--h2-big;
        width: $notfound-return-btn-width;
    }
}
