$notfound-page-sides: 600px;
$notfound-return-btn-width: 300px;

.notfound-page {
    width: $notfound-page-sides;
    height: $notfound-page-sides;
    padding: 2rem;

    &__title {
        font-size: $font-size--h2-big;
        padding-bottom: 1.5rem;
        margin-top: 0;
        margin-bottom: 12px;
    }

    &__text {
        padding-top: 12px;
        font-size: $font-size--body;
        margin: 0;
    }

    &__btn {
        position: relative;
        padding-top: $font-size--h2-big;
        width: $notfound-return-btn-width;
    }
}
