.list-page {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;

    &__content {
        position: relative;
        width: 80%;
        background-color: #ffffff;
        height: 800px;
        box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);
    }

    &__table {
        position: absolute;
        height: 650px;
        width: 100%;
        overflow-y: auto;
    }
}

.list-panel {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: $app-black;
    border-bottom: 1px solid #ccc;

    &__head-wrap {
        position: relative;
        width: 250px;
        background-color: $app-color1;
    }

    &__head {
        width: 100%;
        position: absolute;
        text-align: center;
        top: 50%;
        margin-top: 0;
        font-weight: normal;
        font-size: 2.5rem;
        color: #ffffff;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    &__btn {
        position: absolute;
        width: 100px;
        height: 30px;
        z-index: 2000;
        top: 50px;
        right: 50px;
        transform: translateY(-50%);
    }
}
