$list-page-height: 98vh;

$list-page-content-width: 80%;
$list-page-content-height: 800px;
$list-page-table-height: 650px;

$list-panel-height: 100px;
$list-panel-btn-width: 100px;
$list-panel-btn-height: 30px;

$list-panel-head-wrap-height: 250px;
$list-panel-head-font-size: 2.5rem;

$list-page-width-100: 100%;
.list-page {
    width: $list-page-width-100;
    height: $list-page-height;
    display: flex;
    justify-content: center;

    &__content {
        position: relative;
        width: $list-page-content-width;
        background-color: $app-white;
        height: $list-page-content-height;
        box-shadow: $box-shadow;
    }

    &__table {
        position: absolute;
        height: $list-page-table-height;
        width: $list-page-width-100;
        overflow-y: auto;
    }
}

.list-panel {
    display: flex;
    width: $list-page-width-100;
    height: $list-panel-height;
    background-color: $app-black;
    border-bottom: $table-border;

    &__head-wrap {
        position: relative;
        width: $list-panel-head-wrap-height;
        background-color: $app-color1;
    }

    &__head {
        width: $list-page-width-100;
        position: absolute;
        text-align: center;
        top: $distance-middle;
        margin-top: 0;
        font-weight: normal;
        font-size: $list-panel-head-font-size;
        color: $app-white;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    &__btn {
        position: absolute;
        width: $list-panel-btn-width;
        height: $list-panel-btn-height;
        z-index: 2;
        top: 50px;
        right: 50px;
        transform: translateY(-50%);
    }
}
