.list-page {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;

    &__content {
        position: relative;
        width: 80%;
        background-color: #ffffff;
        height: 800px;
        box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);

        &__table {
            position: absolute;
            height: 650px;
            width: 100%;
            overflow-y: auto;
        }
    }
}

.list-panel {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: $app-black;
    border-bottom: 1px solid #ccc;

    &__head {
        position: relative;
        width: 250px;
        font-size: 42px;
        background-color: $app-color1;
        color: #ffffff;

        &__text {
            width: 100%;
            position: absolute;
            text-align: center;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }

    &__btn {
        position: absolute;
        width: 100px;
        height: 30px;
        z-index: 2000;
        top: 50px;
        right: 50px;
        transform: translateY(-50%);
    }
}
