$person-width: 100%;
$person-height: 30px;
$person-header-height: 40px;
$person-body-height: 20px;
$person-body-padding: 5px;
$person-body-head-padding: 10px 0 10px 0;
$person-transition: $transition-all ease-in-out;

$person-name-width: 300px;
$person-gender-width: 80px;
$person-age-width: 50px;
$person-birthday-width: 120px;

$person-large-padding: 0 0 0 36px;
$person-small-padding: 0 0 0 12px;

.person {
    display: flex;
    width: $person-width;
    height: $person-height;
    background-color: $app-white;
    border-bottom: $table-border;
    color: $app-black;
    transition: $person-transition;

    &--header {
        height: $person-header-height;
        border-top: $table-border;
    }

    &--item {
        &:hover {
            background-color: $app-table-hover;
            cursor: pointer;
        }
    }

    &__body {
        display: flex;
        width: auto;
        height: $person-body-height;
        padding: $person-body-padding;
        transition: $person-transition;

        &--header {
            padding: $person-body-head-padding;
            font-size: $font-size--body;
            font-weight: bold;
        }
    }

    &__name {
        width: $person-name-width;
        padding: $person-large-padding;
    }

    &__gender {
        width: $person-gender-width;
        padding: $person-small-padding;
    }

    &__age {
        width: $person-age-width;
        padding: $person-small-padding;
    }

    &__birthday {
        width: $person-birthday-width;
        padding: $person-small-padding;
    }
}
