$person-page-width: 100%;
$person-page-height: 95vh;

$person-page-content-width: 80%;
$person-page-content-height: 90%;

$person-page-btn-width: 100px;
$person-page-btn-height: 30px;
$person-page-btn-distance-right: 45px;
$person-page-btn-distance-top--edit: 50px;
$person-page-btn-distance-top--del: 90px;

$person-info-width: 300px;
$person-info-height: 100%;
$person-info-content-width: 300px;
$person-info-content-height: 500px;

$person-info-img-size: 200px;
$person-img-wrap-width: 300px;
$person-img-wrap-height: 250px;
$person-img-wrap-padding: 32px 0 0 0;

$person-img-male: url(/male-pic.png);
$person-img-female: url(/female-pic.png);

$person-extra-width: 100%;
$person-extra-height: 100%;
$person-extra-padding: 24px;

.person-page {
    width: $person-page-width;
    height: $person-page-height;
    display: flex;
    justify-content: center;

    &__content {
        position: relative;
        display: flex;
        width: $person-page-content-width;
        background-color: $app-white;
        height: $person-page-content-height;
        box-shadow: $box-shadow;
    }

    &__btn {
        width: $person-page-btn-width;
        height: $person-page-btn-height;
        position: absolute;
        right: $person-page-btn-distance-right;

        &--edit {
            top: $person-page-btn-distance-top--edit;
        }

        &--del {
            top: $person-page-btn-distance-top--del;
        }
    }
}

.person-info {
    width: $person-info-width;
    height: $person-info-height;
    background-color: $app-black;

    &__img-wrap {
        padding: $person-img-wrap-padding;
        width: $person-img-wrap-width;
        height: $person-img-wrap-height;
        display: flex;
        justify-content: center;
    }

    &__img {
        width: $person-info-img-size;
        height: $person-info-img-size;

        &--male {
            background-image: url(/male-pic.png);
            border: 5px solid $app-color2;
        }

        &--female {
            background-image: url(/female-pic.png);
            border: 5px solid $app-color1;
        }
    }

    &__content {
        width: $person-info-content-width;
        height: $person-info-content-height;
    }

    &__text {
        padding-top: 10px;
        text-align: center;
        font-size: $font-size--body-big;
        color: $app-white;
    }
}

.person-extra {
    position: relative;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    padding: $person-extra-padding;
    width: $person-extra-width;
    height: $person-extra-height;
    overflow-y: auto;

    &__text {
        font-size: $font-size--body;
        padding: 3px;
    }

    &__footer {
        position: absolute;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box; /* Firefox, other Gecko */
        box-sizing: border-box; /* Opera/IE 8+ */
        padding: $person-extra-padding;
        bottom: 0;
        left: 0;
    }

    &__list {
        font-size: $font-size--body;
        margin-left: 1rem;
    }
}
