$parent-form-width: 100%;
$parent-form-height: 670px;
$parent-form-distance-top: 120px;

$parent-form-input-padding: 0 0 12px 0;
$parent-form-radio-width: 80px;
$parent-form-check-width: 224px;

$error-wrap-width: 100%;
$error-wrap-margin-top: -80px;
$extra-pad-padding: 0 0 0 32px;
$parent-searchbtn-svg-size: 32px;

$submit-wrap-margin-top: 100px;
$submitbtn-width: 200px;
$submitbtn-height: 60px;
$submitbtn-font-size: 1.5rem;

.person-form {
    position: absolute;
    display: block;
    top: $parent-form-distance-top;
    width: $parent-form-width;
    height: $parent-form-height;
    overflow-y: auto;

    &__input {
        display: flex;
        justify-content: center;
        font-size: $font-size--body;
        padding: $parent-form-input-padding;

        &--radio {
            input {
                width: $parent-form-radio-width;
            }
        }

        &--check {
            input {
                width: $parent-form-check-width;
            }
        }

        &--not-dead {
            display: none;
        }
    }
}

.submit-wrap {
    margin-top: $submit-wrap-margin-top;
}

.error-wrap {
    display: flex;
    width: $error-wrap-width;
    justify-content: center;
    margin-top: $error-wrap-margin-top;
}

.parent-searchbtn {
    svg {
        width: $parent-searchbtn-svg-size;
        height: $parent-searchbtn-svg-size;
        fill: $app-black;
        transition: $transition-all;
    }

    &:hover {
        svg {
            opacity: 0.6;
            cursor: pointer;
        }
    }
}

.extra-pad {
    padding: $extra-pad-padding;
}

.submitbtn {
    position: absolute;
    left: $distance-middle;
    transform: translateX(-50%);
    width: $submitbtn-width;
    height: $submitbtn-height;
    background-color: $app-color2;
    color: $app-black;
    border: none;
    border-radius: $border-radius--big;
    font-size: $submitbtn-font-size;
    font-weight: bold;
    transition: $transition-all;

    &:hover {
        background-color: $app-black;
        color: $app-white;
        cursor: pointer;
    }

    &:focus {
        outline: 0;
    }
}
