%shared-wrap {
    display: flex;
    width: 100%;
    height: 30px;
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    color: $app-black;
    transition: 0.2s ease-in-out;
}

%shared-body {
    display: flex;
    width: auto;
    height: 20px;
    padding: 5px;
    transition: 0.2s ease-in-out;
}

// Header for table
.person-head-wrap {
    @extend %shared-wrap;
    height: 40px;
    border-top: 1px solid #ccc;
}

.person-head-body {
    @extend %shared-body;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

// Individual person
.person-wrap {
    @extend %shared-wrap;
    &:hover {
        background-color: #eeeeee;
        cursor: pointer;
    }
}

.person-body {
    @extend %shared-body;
}

.person-body-name {
    width: 200px;
    padding-left: 12px;
}

.person-body-gender {
    width: 80px;
    padding-left: 12px;
}

.person-body-age {
    width: 50px;
    padding-left: 12px;
}

.person-body-birthday {
    width: 120px;
    padding-left: 12px;
}
