.person-page {
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;

    &__content {
        position: relative;
        display: flex;
        width: 80%;
        background-color: #ffffff;
        height: 800px;
        height: 90%;
        box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);
    }

    &__btn {
        width: 100px;
        height: 30px;
        position: absolute;
        right: 45px;

        &--edit {
            top: 50px;
        }

        &--del {
            top: 90px;
        }
    }
}

.person-info {
    width: 300px;
    height: 100%;
    background-color: $app-black;

    &__img-wrap {
        padding-top: 32px;
        width: 300px;
        height: 250px;
        display: flex;
        justify-content: center;
    }

    &__img {
        width: 200px;
        height: 200px;

        &--male {
            background-image: url(/male-pic.png);
            border: 5px solid $app-color2;
        }

        &--female {
            background-image: url(/female-pic.png);
            border: 5px solid $app-color1;
        }
    }

    &__content {
        width: 300px;
        height: 500px;
    }

    &__text {
        width: 300px;
        height: 30px;
        padding-top: 10px;
        text-align: center;
        font-size: 26px;
        color: #ffffff;
    }
}

.person-extra {
    position: relative;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    padding: 24px;
    width: 100%;
    height: 100%;
    overflow-y: auto;

    &__info {
        &__text {
            font-size: 20px;
            padding: 3px;
        }

        &__list {
            height: 150px;
            overflow-y: auto;
        }
    }

    &__footer {
        position: absolute;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box; /* Firefox, other Gecko */
        box-sizing: border-box; /* Opera/IE 8+ */
        padding: 24px;
        bottom: 0;
        right: 0;
        height: 150px;
        width: 100%;
    }
}
