$search-panel-width: 100%;
$search-panel-height: 100px;

$search-input-wrap-padding: 0 0 0 24px;
$search-input-wrap-width: 700px;

$search-input-text-padding: 0 12px 0 12px;

$search-btn-svg-size: 62px;
.search-panel {
    display: flex;
    position: relative;
    width: $search-panel-width;
    height: $search-panel-height;
    background-color: $app-black;
    border-bottom: $table-border;

    &__input-wrap {
        padding: $search-input-wrap-padding;
        position: absolute;
        top: $distance-middle;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-between;
        width: $search-input-wrap-width;

        input {
            width: 600px;
            height: 50px;
            font-size: font-size--h2;
            transition: $transition-all;
        }

        input[type='text'] {
            padding: $search-input-text-padding;
        }
    }

    &__search-btn {
        width: $search-btn-svg-size;
        height: $search-btn-svg-size;
        cursor: pointer;
        transition: $transition-all;
        svg {
            width: $search-btn-svg-size;
            height: $search-btn-svg-size;
            fill: $app-white;
            transition: $transition-all;
        }
        &:hover {
            svg {
                fill: $app-table-hover;
            }
        }
    }
}
