$stats-width: 100%;
$stats-height: 100%;
$stats-padding: 50px;

$stats-text-padding: 6px 6px 6px 0;

.stats {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    padding: $stats-padding;
    width: $stats-width;
    height: $stats-height;

    &__text {
        padding: $stats-text-padding;
        font-size: $font-size--body;
    }
}
