$app-color1: #ff0062;
$app-color2: #00ff80;
$app-black: #181a1b;
$app-gray: #afafaf;
$app-white: #ffffff;
$app-bodybg: rgba(0, 0, 0, 0.1);

$font-size--body: 1.4rem;
$font-size--h2: 2rem;
$font-size--h2-big: 3rem;
